# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RewriteCond %{HTTP_HOST} ^dev\-wp\.hecmedia\.org$ [NC]
RewriteRule ^(?!wp-(content|admin|includes))/(.+)$ https://dev.hecmedia.org/preview/$1?id=$2 [R=301,L]
RewriteCond %{HTTP_HOST} ^prod\-wp\.hecmedia\.org$ [NC]
RewriteRule ^(?!wp-(content|admin|includes))/(.+)$ https://hecmedia.org/preview/$1?id=$2 [R=301,L]
</IfModule>
# Max upload file sizes
php_value upload_max_filesize 64M
php_value post_max_size 2084M
php_value memory_limit 3G
php_value max_execution_time 10000
php_value max_input_time 10000
php_value session.gc_maxlifetime 6000
php_value max_input_vars 100000

# END WordPress

RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
