/* Colors */

div#playlist-editor .warn {

	background-color: #f7d708;

}

div#playlist-editor .okay {

	background-color: #9ccf31;
	color: #000;

}

div#playlist-editor .error {

	background-color: #ce0000;
	color: #fff;

}

/* Dynamic Buttons */


div#playlist-editor div.dynamic li a.add {

	display: none;

}

div#playlist-editor div.dynamic li:last-child a.add {

	display: inline-block;

}

/* Playlist Editor */

select#parent_id {

	width: 100%;

}


div#playlist-editor {

	position: relative;

}

div#playlist-editor div.admin-notice {

	width: 97%;
	border: 1px solid #ddd;
	padding: 8px 1.5%;
	background-color: #f5f5f5;

}

div#playlist-editor div.admin-notice p {

	margin: 0px;
	font-size: 10px;

}

div#playlist-editor div.field:first-child {

	margin-top: 10px;

}

div#playlist-editor div.field, div#playlist-editor div#segment-embed {

	padding: 10px 0px;
	margin: 15px 0px;

}

div#playlist-editor div.field ul#related-links li.link label {

	display: inline-block;

}

div#playlist-editor div.field ul#related-links li.link input[type=text] {

	width: 25%;

}

div#playlist-editor ul#new-segment-list {

	width: 98%;
	margin-left: 10px;

}

div#playlist-editor ul#new-segment-list .ui-state-highlight {

	height: 100px;

}

div#playlist-editor ul#new-segment-list li.segment.publish {

	background-color: #E5F0DA;

}

div#playlist-editor ul#new-segment-list li#create-segment {

	padding: 15px;
	text-align: center;
	border: 1px solid #c2c2c2;
	cursor: pointer;

}

div#playlist-editor ul#new-segment-list li.segment {

	border: 1px solid #c2c2c2;
	background-color: #e0e0e0;
	background-image: url('ui-sort.png');
	background-repeat: no-repeat;
	background-position: 20px center;
	background-size: 30px;

}

div#playlist-editor ul#new-segment-list li.segment.active {

	background-image: none;

}

div#playlist-editor ul#new-segment-list li.segment.active div.cover {

	display: none;

}

div#playlist-editor ul#new-segment-list li.segment div.form {

	display: none;

}

div#playlist-editor ul#new-segment-list li.segment.active div.form {

	display: block;

}

div#playlist-editor ul#new-segment-list li.segment div.data {

	float: left;
	padding: 10px 10px;
	margin-left: 60px;
	width: 70%;

}

div#playlist-editor ul#new-segment-list li.segment div.data h2 {

	padding: 0px;
	margin: 0px;

}

div#playlist-editor ul#new-segment-list li.segment div.data h3 {

	padding: 0px;
	margin: 0px;
	text-transform: capitalize;

}

div#playlist-editor ul#new-segment-list li.segment img.thumbnail {

	float: right;
	width: 130px;
	max-height: 80px;

}

div#playlist-editor div.field ul#segment-list li.segment {

	width: 80%;
	margin-bottom: 20px;

}

div#playlist-editor div.field ul#segment-list li.segment div.top label {

	display: inline-block;

}

div#playlist-editor div.field ul#segment-list li.segment div.top input.title {

	display: inline-block;
	width: 55%;
	margin-right: 5px;

}

div#playlist-editor div.field ul#segment-list li.segment div.top input.duration {

	display: inline-block;
	width: 15%;

}

div#playlist-editor div.field ul#segment-list li.segment div.input-wrap {

	margin-top: 10px;
	margin-left: 33px;
	width: 74.5%;

}


div#playlist-editor div.field.active div.input-wrap {

	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);

}

div#playlist-editor div.field label {

	margin-bottom: 5px;
	display: block;

}

div#playlist-editor div.field span.note {

	margin-top: 5px;
	display: inline-block;

}

div#playlist-editor div.field span#current-photo {

	position: relative;
	top: 5px;
	display: none;

}

div#playlist-editor div.field span#current-photo img.preview {

	position: absolute;
	height: 70px;
	width: auto;
	top: -25px;
	left: 110%;
	border: 1px solid #000;
	display: none;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.15);

}

div#playlist-editor div.field span#current-photo:hover img.preview {

	display: block;

}

div#playlist-editor div.field div.input-wrap textarea {

	width: 100%;
	resize: none;
	padding: 2px 6px;
	border: none;
	outline: none;
	box-shadow: none;

}

div#playlist-editor div.field.large div.input-wrap {

	width: 80%;

}

div#playlist-editor div.field.medium div.input-wrap {

	width: 60%;

}

div#playlist-editor div.field.small div.input-wrap {

	width: 40%;

}

div#playlist-editor div.field.micro div.input-wrap {

	width: 20%;

}

div#playlist-editor div.field div.input-wrap {

	border: 1px solid #aaa;

}

div#playlist-editor div.field div.input-wrap input[type=text] {

	width: 99.4%;
	border: none;
	outline: none;
	box-shadow: none;

}

div#playlist-editor div.field.checkbox label {

	display: inline-block;

}

div#playlist-editor div.field div.input-wrap div.progress-bar {

	position: relative;
	background-color: #f7f7f7;
	overflow: hidden;


}

div#playlist-editor div.field div#thumb-image {

	padding: 2px;
	background-color: #fff;
	border: 1px solid #999;
	width: 255px;
	min-height: 135px;
	position: relative;

	transition: height 750ms, width 750ms;
	-o-transition: height 750ms, width 750ms;
	-moz-transition: height 750ms, width 750ms;
	-webkit-transition: height 750ms, width 750ms;

}

div#playlist-editor div.field div#thumb-image.large {

	width: 90%;

}

div#playlist-editor div.field div#thumb-image div.inner {

/*
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
*/

}

div#playlist-editor div.field div#thumb-image div.inner > img {

	display: none;
	max-width: 100%;
	float: left;

}

div#playlist-editor div.field div#thumb-image div.inner > button {

	position: absolute;
	left: 25%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;

}

div#playlist-editor div#keyword-field {

	float: left;
	width: 45%;

}

div#playlist-editor div#keyword-field div.input-wrap {

	width: 50%;

}

div#playlist-editor div#category-field {

	float: left;
	width: 45%;

}

div#playlist-editor div#category-field select {

	width: 70%;

}

div#playlist-editor div#keyword-field ul#keyword-list {

	margin-top: 10px;

}

div#playlist-editor div#keyword-field ul#keyword-list li {

	display: inline-block;
	padding: 2px 5px 2px 5px;
	border: 1px solid gray;
	margin-right: 2px;
	background-color: #aeaeae;

}

div#playlist-editor div.field a#remove-video-thumb {

	margin-top: 5px;
	display: none;

}

div#playlist-editor div.field div.input-wrap div.progress-bar > span.text {

	padding: 0px 5px;
	z-index: 3;
	position: relative;

}

div#playlist-editor div.field div.input-wrap div.progress-bar > span.background {

	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-webkit-transition: background-color 500ms;
	-o-transition: background-color 500ms;

}

div#playlist-editor div.segment-actions span.segment-notice {

	position: relative;
	top: 6px;
	margin-left: 5px;

}

div#playlist-editor div#playlist-type {

	padding: 10px 10%;
	text-align: center;

}

div#playlist-editor div#segments fieldset.legacy {

	display: none;

}

div#playlist-editor div#segments fieldset.legacy.active {

	display: block;

}

div#playlist-editor div#segments fieldset.new {

	display: none;

}

div#playlist-editor div#segments fieldset.new.active {

	display: block;

}

div#playlist-editor div#segments fieldset.legacy div.media {

	display: none;

}

div#playlist-editor div#segments fieldset.legacy div.media.active {

	display: block;

}

div#playlist-editor ul#media-list li input[type=text] {

	width: 57.5%;

}

div#playlist-editor ul#education-objectives li input[type=text] {

	width: 40%;

}

div#playlist-editor ul#education-objectives li select {

	width: 15%;

}

div#playlist-editor div#playlist-type div.option {

	display: inline-block;
	margin-right: 20px;

}

div#playlist-editor div#playlist-tabs {

	margin-top: 50px;

}

div#playlist-editor div#playlist-tabs nav {

	margin: 0px;

}

div#playlist-editor div#playlist-tabs nav ul {

	margin: 0px;

}

div#playlist-editor div#playlist-tabs nav ul li {

	display: inline-block;
	width: 15%;
	text-align: center;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 4px 0px;
	background-color: #f5f5f5;

}

div#playlist-editor div#playlist-tabs nav ul li:hover {

	background-color: #F0F0F0;

}

div#playlist-editor div#playlist-tabs nav ul li.active {

	background-color: #DBDBDB;
	color: #fff;

}

div#playlist-editor div#playlist-tabs nav ul li a {

	text-decoration: none;
	display: block;
	outline: none;

}

div#playlist-editor div#playlist-tabs nav ul li a:hover {

	color: #000;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area {

	margin: 0px;
	position: relative;
	top: -6px;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section {

	display: none;
	border: 1px solid #ddd;
	padding: 14px 6px;

}


div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section div.field {

	padding: 5px 10px;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section div.field div#toggle_embed {

	overflow: hidden;
	margin-top: 5px;
	height: 0px;
	transition: height 500ms;
	-o-transition: height 500ms;
	-webkit-transition: height 500ms;
	-moz-transition: height 500ms;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section div.field div#toggle_embed.active {

	height: auto;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section div.field div#toggle_embed textarea {

	width: 60%;
	resize: none;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section div.field div#toggle_embed textarea#embed-html {

	border: 1px solid #999;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section div.admin-notice {

	width: 80%;
	margin-left: 10px;

}

div#playlist-editor div#playlist-tabs div#playlist-tabs-area div.tab-section.active {

	display: block;

}